
.block.product-list-page .search__wrapper {
    display: grid;
    margin-block: var(--spacing-small);
    grid-template-areas:
        "result-info"
        "product-sort"
        "product-list"
        "pagination";
}

.block.product-list-page .search__result-info {
    grid-area: result-info;
    align-self: center;
    margin-block-end: var(--spacing-small);
}

.block.product-list-page .search__result-info strong {
    font-weight: 600;
}

.block.product-list-page .search__product-sort {
    grid-area: product-sort;
    margin-block-end: var(--spacing-small);
}

.block.product-list-page .search__product-list {
    grid-area: product-list;
    margin-block-end: var(--spacing-small);
}

.block.product-list-page .search__pagination {
    grid-area: pagination;
    margin-block-end: var(--spacing-small);
}

/* Product grid overrides for product discovery drop-in */
.block.product-list-page .product-discovery-product-list {
    /* Override inline custom properties coming from the drop-in */
    --imageWidth: auto !important;
    --imageHeight: auto !important;
}

.block.product-list-page .product-discovery-product-list__grid {
    /* By default, show a single column on small screens (mobile-first) */
    grid-template-columns: 1fr;
}

.block.product-list-page .product-discovery-product-actions {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xxsmall);
    position: relative;
}

/* Empty State */

.block.product-list-page.product-list-page--empty .search__wrapper {
    grid-template-areas:
        "product-list";
    grid-template-columns: 1fr;
}

.block.product-list-page.product-list-page--empty .search__result-info,
.block.product-list-page.product-list-page--empty .search__product-sort,
.block.product-list-page.product-list-page--empty .search__pagination {
    display: none;
}

.product-discovery-product-actions .requisition-list-names {
    position: static;
}

.product-discovery-product-actions .requisition-list-names .requisition-list-selector__picker {
    width: var(--spacing-xlarge);
}

.product-discovery-product-actions .requisition-list-names .dropin-card {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    .block.product-list-page .search__wrapper {
        grid-template-areas:
            "result-info"
            "product-sort"
            "product-list"
            "pagination";
        grid-template-columns: 1fr;
    }

    .block.product-list-page .search__product-sort {
        display: flex;
        justify-content: flex-end;
    }

    /* 2 columns on tablets */
    .block.product-list-page .product-discovery-product-list__grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 1024px) {
    /* 3 products per row on desktop */
    .block.product-list-page .product-discovery-product-list__grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
